@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}


.input-textarea{
    border-style: solid !important;
    @apply w-full rounded-lg border border-gray-400 px-2 py-2 !important;
}
.input-group{
    @apply my-2 !important;
}
.input-label{
    @apply text-gray-600 my-2 !important;
}
.input {
    border-style: solid !important;
    @apply w-full border border-gray-400 rounded-lg px-2 py-3 !important;
}

.input-group {
    @apply my-4 flex flex-col;
}

.input-label {
    @apply text-gray-600 my-2;
}

.toggle-password {
    position: absolute;
    transform: translateY(-50%);
    right: 0;
    top: 50%;
    cursor: pointer;
    @apply px-2;
}